* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.body-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background-color: #007FFF; }

.body-login-header {
  width: 100%;
  height: 100%; }

.container-login {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-login .box-login {
    position: relative;
    max-width: 400px;
    background-color: #343a40;
    border: 2px solid #343a40;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    z-index: 1; }
    .container-login .box-login .login h1 {
      font-size: 2rem;
      color: #fff;
      text-align: center; }
    .container-login .box-login .login .inputbox {
      position: relative;
      margin: 30px 0;
      max-width: 310px;
      border-bottom: 2px solid #fff; }
      .container-login .box-login .login .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1rem;
        pointer-events: none;
        transition: all 0.5s ease-in-out; }
      .container-login .box-login .login .inputbox input {
        width: 100%;
        height: 60px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1rem;
        padding: 0 35px 0 5px;
        color: #fff; }
      .container-login .box-login .login .inputbox ion-icon {
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2rem;
        top: 20px; }
      .container-login .box-login .login .inputbox input:focus ~ label,
      .container-login .box-login .login .inputbox input:valid ~ label {
        top: -5px; }
    .container-login .box-login .login button {
      width: 100%;
      height: 40px;
      border-radius: 40px;
      background-color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      color: #343a40;
      font-size: 1rem;
      font-weight: 600;
      transition: all 0.4s ease; }
      .container-login .box-login .login button:hover {
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff; }
    .container-login .box-login .login .register {
      font-size: 0.9rem;
      color: #ffffff;
      text-align: center;
      margin: 25px 0 10px; }
      .container-login .box-login .login .register p a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 600; }
        .container-login .box-login .login .register p a:hover {
          text-decoration: underline; }

.svg-background-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; }
  .svg-background-login .out-top {
    animation: rotate 20s linear infinite;
    transform-origin: 13px 25px; }
  .svg-background-login .in-top {
    animation: rotate 10s linear infinite;
    transform-origin: 13px 25px; }
  .svg-background-login .out-bottom {
    animation: rotate 25s linear infinite;
    transform-origin: 84px 93px; }
  .svg-background-login .in-bottom {
    animation: rotate 15s linear infinite;
    transform-origin: 84px 93px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
