@media screen and (min-width: 200px) and (max-width: 767px){
    main{
        height: 100vh;
        .box-form{
            margin: 0 0 0 40px;
            h3{
                font-size: $font-size-title - .5rem;
            }
            .crud-student{
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .inputbox {
                    max-width: 100%;
                }
                .form-select{
                    width: 100%;
                }
                button {
                    margin-top: 20px;
                }
            }
        }
        .student-table{
            margin: 40px 0 0 0;
            .student{
                div{
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 5px;
                    p{
                        width: auto;
                        margin: 0 0 0 15px;
                    }
                    .container-btn{
                        margin: 10px 0 0 0;
                        width: auto !important;
                        flex-direction: row;
                        button{
                            margin: 0 10px 0 10px !important;
                        }
                    }              
                }
            }
        }
        .box-form-teacher{
            width: 90%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
            margin: 0 0 0 40px;
            h3{
                font-size: $font-size-title - .5rem;
            }
            .form-teacher{
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
    
            }
        }
        .table-student-commission{
            width: 90%;
            height: 500px;
            margin: 40px 0 0 40px;
            .article-student{
                flex-direction: column;
                align-items:flex-start;
                gap: 2px;
                
            }
        }
        .box-error-404{
            img{
                width: 200px;
            }
            p{
                font-size: $font-size-subtitle - .3rem;
            }
        }
    }
}