$font-family: 'Poppins', sans-serif;
$font-size-title: 2rem;
$font-size-subtitle: 1.5rem;
$font-size-icon: 1.2rem;
$font-size-text: 1rem;

$colors:(
    light: #fff,
    dark: #343a40,
    american-rose: #FF033E,
    ruko-purple: #662d91
)
